In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# 1. IPython magic functions

## 1.1 Show all magic functions

In [2]:
%%script echo skipping
%quickref

skipping

In [3]:
%%script echo skipping
%magic

skipping

## 1.2 Skip cell from running

In [4]:
%%script echo skipping
print('Hello')

skipping

## 1.3 Capture output (hide output)

In [5]:
%%capture 
x = 'Hello'

In [6]:
x

'Hello'

## 1.4 Inspect variables

In [7]:
%who

this	 x

In [8]:
%who_ls

['this', 'x']

In [9]:
%whos

Variable   Type      Data/Info
------------------------------
this       module    <module 'this' from '/Use<...>s/lib/python3.8/this.py'>
x          str       Hello

## 1.5 Get path / directory

In [10]:
%pwd

'/Users/boyuan/Desktop/OneDrive/Data science/Python/Core python'

## 1.6 Execution time

In [11]:
%timeit 1 + 1

6.7 ns ± 0.0941 ns per loop (mean ± std. dev. of 7 runs, 100000000 loops each)

In [12]:
%%timeit
1 + 1

7.43 ns ± 0.0478 ns per loop (mean ± std. dev. of 7 runs, 100000000 loops each)

## 1.7 List introspection names

In [13]:
import pandas as pd
?pd.*read*

pd.read_clipboard
pd.read_csv
pd.read_excel
pd.read_feather
pd.read_fwf
pd.read_gbq
pd.read_hdf
pd.read_html
pd.read_json
pd.read_orc
pd.read_parquet
pd.read_pickle
pd.read_sas
pd.read_spss
pd.read_sql
pd.read_sql_query
pd.read_sql_table
pd.read_stata
pd.read_table

## 1.8 System command (in shell)

In [14]:
!python --version

Python 3.8.5

In [15]:
!!python --version

['Python 3.8.5']

In [16]:
%%system
python --version

['Python 3.8.5']

## 1.9 Exception handlers

In [17]:
%xmode

Exception reporting mode: Verbose

## 1.10 Tab completion in Jupyter

Tab, Shift + Tab

# 2. Python data types and structures

## 2.1 Type

In [18]:
a = 5

In [19]:
type(a)

int

In [20]:
isinstance(a, int)

True

In [21]:
a.bit_length()

3

## 2.2 Tuple

In [22]:
tup = (4, 5, 6)

In [23]:
a, b, c = tup

In [24]:
tuple([4, 5, 6])

(4, 5, 6)

In [25]:
x, y = 1, 2

In [26]:
x,y = y,x

In [27]:
x, y

(2, 1)

## 2.3 List

In [28]:
a_list = [1, 2, 3, 4, 5, 6]

In [29]:
list([1, 2, 3])

[1, 2, 3]

In [30]:
1 in a_list

True

In [31]:
a_list.append(7)

In [32]:
a_list.sort()

In [33]:
sorted(a_list, key = lambda x: x + 1)

[1, 2, 3, 4, 5, 6, 7]

In [34]:
len(a_list)

7

In [35]:
sum(a_list)

28

In [36]:
a_list.extend([8])

In [37]:
a_list

[1, 2, 3, 4, 5, 6, 7, 8]

In [38]:
[1,2,3] + [4,5,6]

[1, 2, 3, 4, 5, 6]

In [39]:
list(zip([1,2,3],[4,5,6]))

[(1, 4), (2, 5), (3, 6)]

### Slicing

In [40]:
a_list[1:2]

[2]

In [41]:
a_list[::2]

[1, 3, 5, 7]

In [42]:
a_list[::-1]

[8, 7, 6, 5, 4, 3, 2, 1]

## 2.4 Dict

In [43]:
d1 = {'a':'some value', 'b':[1,2,3,4]}

In [44]:
'a' in d1

True

In [45]:
d1.get('a')

'some value'

In [46]:
d1.get('c')

In [47]:
d1['b']

[1, 2, 3, 4]

In [48]:
d1.keys()

dict_keys(['a', 'b'])

In [49]:
d1.values()

dict_values(['some value', [1, 2, 3, 4]])

In [50]:
d1.items()

dict_items([('a', 'some value'), ('b', [1, 2, 3, 4])])

In [51]:
from collections import defaultdict
words = ['apple', 'bat', 'bar', 'atom', 'book']

by_letter = defaultdict(list)

for word in words:
    by_letter[word[0]].append(word)

dict(by_letter)

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [52]:
hash((1,2,3))

529344067295497451

## 2.5 Set

In [53]:
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [54]:
set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [55]:
a = {1,2,3,4,5}
b = {3,4,5,6,7,8}

In [56]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [57]:
a.intersection(b)

{3, 4, 5}

## 2.6 Comprehensions

In [58]:
strings = ['a','as','bat','car','dove','python']

In [59]:
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [60]:
{index: value for index, value in enumerate(strings)}

{0: 'a', 1: 'as', 2: 'bat', 3: 'car', 4: 'dove', 5: 'python'}

In [61]:
{len(x) for x in strings}

{1, 2, 3, 4, 6}

In [62]:
list(map(len, strings))

[1, 2, 3, 3, 4, 6]

In [63]:
[0 for _ in range(10)]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [64]:
[(x, y)
 for x in range(5)
 for y in range(x + 1)]

[(0, 0),
 (1, 0),
 (1, 1),
 (2, 0),
 (2, 1),
 (2, 2),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 3),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4)]

In [65]:
all_data = [['Jonn','Emily','Michael','Mary','Steven'],
            ['Maria','Juan','Javier','Natalia','Pilar']]
result = [name 
          for names in all_data
          for name in names 
          if name.count('e') >= 2
          ]
result

['Steven']

## 2.7 Strings

### Format strings

In [66]:
'This is %d' % 15

'This is 15'

In [67]:
'{0:.2f} {1:s} are worth US${2:d}'.format(4.5560, 'Argentine Pesos', 1)

'4.56 Argentine Pesos are worth US$1'

In [68]:
f'''{4.5560:.2f} {'Argentine Pesos':s} are worth US${1:d}'''

'4.56 Argentine Pesos are worth US$1'

In [69]:
s = 'a,b, c'

In [70]:
s.split(sep = ',')

['a', 'b', ' c']

In [71]:
[x.strip() for x in s.split(',')]

['a', 'b', 'c']

In [72]:
s.replace(',',':')

'a:b: c'

In [73]:
s.count(',')

2

In [74]:
s.find(',')

1

In [75]:
s.index(',')

1

### Raw strings

In [76]:
r"\\"

'\\\\'

## 2.8 Booleans

In [77]:
True, False, None

(True, False, None)

In [78]:
x = None
x == None, x is None

(True, True)

In [79]:
all([True,False])

False

In [80]:
any([True,False])

True

In [81]:
True and False

False

In [82]:
True or False

True

In [83]:
not True

False

# 3. Python functions and control flows

## 3.1 Attributes and methods

In [84]:
a = 'xyz'

In [85]:
getattr(a,'split')

In [86]:
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

## 3.2 Logic control flow

### if-elif-else

In [87]:
x = 5
if x < 0:
    print("It's negative")
elif x == 0:
    print("Equal to zero")
elif 0 < x < 5:
    print("Positive but smaller than 5")
else:
    print("Positive and larger than or equal to 5")

Positive and larger than or equal to 5

### for loops

In [88]:
sequence = [1, 2, None, 4, None, 5]
total = 0

for value in sequence:
    if value is None:
        continue
    total += value 
    
total

12

In [89]:
sequence = [1, 2, 0, 4, 6, 5, 2, 1]
total_until_5 = 0

for value in sequence:
    if value == 5:
        break 
    total_until_5 += value

total_until_5

13

In [90]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [91]:
for i in range(4):
    for j in range(4):
        if j > i:
            continue
        print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [92]:
if x < 0:
    print('negative!')
elif x == 0:
    # Todo: put something here
    pass
else:
    print('positive!')

positive!

In [93]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print('a = {0}, b = {1}, c = {2}'.format(a, b, c))

a = 1, b = 2, c = 3
a = 4, b = 5, c = 6
a = 7, b = 8, c = 9

### Ternary expressions

In [94]:
x = 5
print('Non-negative' if x >= 0 else 'Negative')

Non-negative

## 3.3 Iterators and generators

### Range

In [95]:
list(range(0, 20, 2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [96]:
from tqdm.notebook import trange
import random

for i in trange(100):
    _ = [random.random() for _ in range(1000000)]

HBox(children=(FloatProgress(value=0.0), HTML(value='')))

### Enumerate

In [97]:
list(enumerate(['x','y','z']))

[(0, 'x'), (1, 'y'), (2, 'z')]

### Zip

In [98]:
a = [1, 4, 7, None, True]
b = [0, 1, 2, 3, 4]
list(zip(b, a))

[(0, 1), (1, 4), (2, 7), (3, None), (4, True)]

In [99]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']

for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

### Unzip

In [100]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'), ('Schilling', 'Curt')]
list(zip(*pitchers))

[('Nolan', 'Roger', 'Schilling'), ('Ryan', 'Clemens', 'Curt')]

In [101]:
list(zip(('a', 1), ('b', 2), ('c', 3)))

[('a', 'b', 'c'), (1, 2, 3)]

### Generator

In [102]:
generator = (x ** 2 for x in range(100))
generator

In [103]:
def generate_range(n):
    i = 0
    while i < n:
        yield i
        i += 1

In [104]:
generate_range(5)

In [105]:
list(iter({'a': 1, 'b': 2, 'c': 3}))

['a', 'b', 'c']

## 3.4 Functions

In [106]:
def my_function(x, y, z = 1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)
    
my_function(3.14, 7, 3.5)

35.49

In [107]:
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c

a, b, c = f()

### args and kwargs

In [108]:
def magic(*args, **kwargs):
    print('unnamed args:',args)
    print('keyword args:',kwargs)
    
magic(1, 2, key = 'word', key2 = 'word2')

unnamed args: (1, 2)
keyword args: {'key': 'word', 'key2': 'word2'}

In [109]:
def other_magic(x, y, z):
    return x + y + z

x_y_list = [1,2]
z_dict = {'z': 3}

other_magic(*x_y_list, **z_dict)

6

## 3.5 Lambda functions

In [110]:
def short_function(x):
    return x * 2

equiv_anon = lambda x: x * 2

In [111]:
short_function(3)

6

In [112]:
equiv_anon(3)

6

In [113]:
ints = [4, 0, 1, 5, 6]

In [114]:
list(map(lambda x: x * 2, ints))

[8, 0, 2, 10, 12]

In [115]:
[x * 2 for x in ints]

[8, 0, 2, 10, 12]

In [116]:
strings = ['foo','card','bar','aaaa','abab']
strings.sort(key = lambda x: len(set(list(x))))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

## 3.6 Errors and exceptions

In [117]:
try:
    float('something')
except:
    print('could not convert string to float')

could not convert string to float

In [118]:
try:
    float('something')
except (TypeError, ValueError):
    pass
finally: 
    print('result')

result

## 3.7 Automated testing and assert

In [119]:
def add(x,y):
    return x + y

assert add(1,2) == 3, 'add not correct'

## 3.8 Class

### Object-oriented programming

### Example 1

- Class: An abstract definition of a class of objects. For example, a human being
- Object: An instance of a class. For example, Sandra
- Attribute: A feature of the class (class attribute) or of an instance of the class (instance attribute). For example, being a mammal, being male or female, or color of the eyes
- Method: An operation that the class can implement. For example, walking
- Parameters: Input taken by a method to influence its behavior. For example, three steps
- Instantiation: The process of creating a specific object based on an abstract class.

In [120]:
class HumanBeing(object):
    def __init__(self, first_name, eye_color):
        self.first_name = first_name
        self.eye_color = eye_color
        self.position = 0
    def walk_steps(self, steps):
        self.position += steps

Sandra = HumanBeing('Sandra', 'blue')

assert Sandra.first_name == 'Sandra'
assert Sandra.position == 0

Sandra.walk_steps(5)
assert Sandra.position == 5

### Example 2

In [121]:
class FinancialInstrument(object):
    pass

fi = FinancialInstrument()

type(fi)

__main__.FinancialInstrument

In [122]:
class FinancialInstrument(object):
    author = 'YH'
    def __init__(self, symbol, price):
        self.symbol = symbol
        self.price = price

assert FinancialInstrument.author == 'YH'

aapl = FinancialInstrument('AAPL', 100)
assert aapl.symbol == 'AAPL'
assert aapl.price == 100

aapl.price = 105
assert aapl.price == 105

In [123]:
class FinancialInstrument(FinancialInstrument):
    def get_price(self):
        return self.price
    def set_price(self, price):
        self.price = price

fi = FinancialInstrument('AAPL', 100)
assert fi.get_price() == 100

fi.set_price(105)
assert fi.price == 105

In [124]:
class FinancialInstrument(object):
    def __init__(self, symbol, price):
        self.symbol = symbol
        self.__price = price
    def get_price(self):
        return self.__price
    def set_price(self, price):
        self.__price = price

fi = FinancialInstrument('AAPL', 100)
assert fi.get_price() == 100

try:
    fi.__price
except AttributeError:
    pass

assert fi._FinancialInstrument__price == 100

### Example 3

In [125]:
class CountingClicker:
    """Class docstring"""

    def __init__(self, count = 0):
        self.count = count

    def __repr__(self):
        return f"CountingClicker(count={self.count})"

    def click(self, num_times = 1):
        """Click the clicker some number of times"""
        self.count += num_times

    def read(self):
        return self.count

    def reset(self):
        self.count = 0

clicker = CountingClicker()
assert clicker.read() == 0, "clicker should start with count 0"
clicker.click()
clicker.click()
assert clicker.read() == 2, "after two clicks, clicker should have count 2"
clicker.reset()
assert clicker.read() == 0, "after reset, clicker should be back to 0"

### Sub-class

In [126]:
# A subclass inherits all the behavior of its parent class.
class SkipClicker(CountingClicker):
    def skip(self):
        pass

clicker2 = SkipClicker()
assert clicker2.read() == 0
clicker2.click()
assert clicker2.read() == 1
clicker2.skip()
assert clicker2.read() == 1

## 3.9 Data and object model

### Example

In [127]:
class Vector(object):
    def __init__(self, x = 0, y = 0, z = 0):
        self.x = x
        self.y = y
        self.z = z

v = Vector(1,2,3)
v

In [128]:
class Vector(Vector):
    def __repr__(self):
        return 'Vector(%r, %r, %r)' % (self.x, self.y, self.z)

v = Vector(1,2,3)
v

Vector(1, 2, 3)

In [129]:
class Vector(Vector):
    def __abs__(self):
        return (self.x ** 2 + self.y ** 2 + self.z ** 2) ** 0.5
    def __bool__(self):
        return bool(abs(self))
    
v = Vector(1, 2, -1)
abs(v), bool(v)

(2.449489742783178, True)

In [130]:
class Vector(Vector):
    def __add__(self, other):
        x = self.x + other.x
        y = self.y + other.y
        z = self.z + other.z
        return Vector(x, y, z)
    def __mul__(self, scalar):
        return Vector(self.x * scalar, 
                      self.y * scalar,
                      self.z * scalar)

v = Vector(1, 2, 3)
v + Vector(2, 3, 4), v * 2

(Vector(3, 5, 7), Vector(2, 4, 6))

In [131]:
class Vector(Vector):
    def __len__(self):
        return 3
    def __getitem__(self, i):
        if i in [0, -3]:
            return self.x
        elif i in [1, -2]:
            return self.y
        elif i in [2, -1]:
            return self.z
        else:
            raise IndexError('Index out of range.')

v = Vector(1, 2, 3)
assert len(v) == 3
assert v[0] == 1
assert v[-2] == 2

try:
    v[3]
except IndexError:
    pass

In [132]:
class Vector(Vector):
    def __iter__(self):
        for i in range(len(self)):
            yield self[i]

v = Vector(1,2,3)

for i in range(3):
    print(v[i])

1
2
3

In [133]:
class Vector(object):
    def __init__(self, x=0, y=0, z=0):
        self.x = x
        self.y = y
        self.z = z
    def __repr__(self):
        return 'Vector(%r, %r, %r)' % (self.x, self.y, self.z)
    def __abs__(self):
        return (self.x ** 2 + self.y ** 2 + self.z ** 2) ** 0.5
    def __bool__(self):
        return bool(abs(self))
    def __add__(self, other):
        x = self.x + other.x
        y = self.y + other.y
        z = self.z + other.z
        return Vector(x, y, z)
    def __mul__(self, scalar):
        return Vector(self.x * scalar,
                      self.y * scalar,
                      self.z * scalar)
    def __len__(self):
        return 3
    def __getitem__(self, i):
        if i in [0, -3]: return self.x
        elif i in [1, -2]: return self.y
        elif i in [2, -1]: return self.z
        else: raise IndexError('Index out of range.')
    def __iter__(self):
        for i in range(len(self)):
            yield self[i]

# 4. Python core modules

## 4.1 collections

In [134]:
from collections import defaultdict, Counter, namedtuple

### dict

In [135]:
text = "I need to count the number of word occurrences in a piece of text. How could I do that? Python provides us with multiple ways to do the same thing. But only one way I find beautiful."

word_count_dict = {}

for w in text.split(" "):
    if w in word_count_dict:
        word_count_dict[w] += 1
    else:
        word_count_dict[w] = 1
        
word_count_dict

{'I': 3,
 'need': 1,
 'to': 2,
 'count': 1,
 'the': 2,
 'number': 1,
 'of': 2,
 'word': 1,
 'occurrences': 1,
 'in': 1,
 'a': 1,
 'piece': 1,
 'text.': 1,
 'How': 1,
 'could': 1,
 'do': 2,
 'that?': 1,
 'Python': 1,
 'provides': 1,
 'us': 1,
 'with': 1,
 'multiple': 1,
 'ways': 1,
 'same': 1,
 'thing.': 1,
 'But': 1,
 'only': 1,
 'one': 1,
 'way': 1,
 'find': 1,
 'beautiful.': 1}

### defaultdict

In [136]:
word_count_dict = defaultdict(int)

for w in text.split(" "):
    word_count_dict[w] += 1
word_count_dict

defaultdict(int,
            {'I': 3,
             'need': 1,
             'to': 2,
             'count': 1,
             'the': 2,
             'number': 1,
             'of': 2,
             'word': 1,
             'occurrences': 1,
             'in': 1,
             'a': 1,
             'piece': 1,
             'text.': 1,
             'How': 1,
             'could': 1,
             'do': 2,
             'that?': 1,
             'Python': 1,
             'provides': 1,
             'us': 1,
             'with': 1,
             'multiple': 1,
             'ways': 1,
             'same': 1,
             'thing.': 1,
             'But': 1,
             'only': 1,
             'one': 1,
             'way': 1,
             'find': 1,
             'beautiful.': 1})

### Counter

In [137]:
Counter(text.split(" "))

Counter({'I': 3,
         'need': 1,
         'to': 2,
         'count': 1,
         'the': 2,
         'number': 1,
         'of': 2,
         'word': 1,
         'occurrences': 1,
         'in': 1,
         'a': 1,
         'piece': 1,
         'text.': 1,
         'How': 1,
         'could': 1,
         'do': 2,
         'that?': 1,
         'Python': 1,
         'provides': 1,
         'us': 1,
         'with': 1,
         'multiple': 1,
         'ways': 1,
         'same': 1,
         'thing.': 1,
         'But': 1,
         'only': 1,
         'one': 1,
         'way': 1,
         'find': 1,
         'beautiful.': 1})

In [138]:
Counter(text.split(" ")).most_common(n = 10)

[('I', 3),
 ('to', 2),
 ('the', 2),
 ('of', 2),
 ('do', 2),
 ('need', 1),
 ('count', 1),
 ('number', 1),
 ('word', 1),
 ('occurrences', 1)]

### NamedTuple

In [139]:
import datetime 
stock_price = {'closing_price': 102.06, 
               'date': datetime.date(2014, 8, 29),
               'symbol':'AAPL'}

In [140]:
StockPrice = namedtuple('StockPrice', ['symbol', 'date', 'closing_price'])
price = StockPrice('MSFT', datetime.date(2018, 12, 14), 106.03)
price.closing_price, price.symbol

(106.03, 'MSFT')

In [141]:
from typing import NamedTuple

class StockPrice(NamedTuple):
    symbol: str
    date: datetime.date
    closing_price: float
    
    def is_high_tech(self) -> bool:
        return self.symbol in ['MSFT','GOOG','FB','AMZN','AAPL']

price = StockPrice('MSFT', datetime.date(2018, 12, 14), 106.03)
price.symbol, price.is_high_tech()

('MSFT', True)

## 4.2 datetime

In [142]:
import datetime

In [143]:
dt = datetime.datetime(2011, 10, 29, 20, 30, 21)

In [144]:
dt.strftime('%m/%d/%Y %H:%M')

'10/29/2011 20:30'

In [145]:
datetime.datetime.strptime('20091031', '%Y%m%d')

datetime.datetime(2009, 10, 31, 0, 0)

## 4.3 itertools

In [146]:
import itertools

## 4.4 sys

In [147]:
import sys

In [148]:
%%script echo skipping
with open() as o:

skipping

### stdin and stdout

In [149]:
sys.argv[1]

'-f'

In [150]:
sys.stdin

In [151]:
sys.stdout

## 4.5 io

In [152]:
import io

## 4.6 json

In [153]:
import json

In [154]:
j = """{"a": "A", "b": 1, "c": [2, "B"]}"""

In [155]:
json.loads(j)

{'a': 'A', 'b': 1, 'c': [2, 'B']}

## 4.7 requests

In [156]:
import requests

In [157]:
requests.get('https://www.google.com')

## 4.8 sqlite3

In [158]:
import sqlite3

## 4.9 re

In [159]:
import re

In [160]:
text = "foo    bar\t baz   \tqux"
re.split('\s+', text)

['foo', 'bar', 'baz', 'qux']

In [161]:
regex = re.compile('\s+')
regex.split(text)

['foo', 'bar', 'baz', 'qux']

In [162]:
regex.findall(text)

['    ', '\t ', '   \t']

In [163]:
text = """Dave dave@google.com
Steve steve@gmail.com
Rob rob@gmail.com
Ryan ryan@yahoo.com
"""

In [164]:
pattern = r'[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}'

In [165]:
regex = re.compile(pattern, flags = re.IGNORECASE)

In [166]:
regex.findall(text)

['dave@google.com', 'steve@gmail.com', 'rob@gmail.com', 'ryan@yahoo.com']

In [167]:
re.search('D',text)

In [168]:
re.match('D',text)

## 4.10 glob

In [169]:
import glob

## 4.11 os

In [170]:
import os

## 4.12 getpass

In [171]:
import getpass

## 4.13 random

In [172]:
import random

In [173]:
random.seed(10)

In [174]:
random.random()

0.5714025946899135

In [175]:
random.randrange(10)

6

In [176]:
ra = [1,2,3]
random.shuffle(ra)
ra

[3, 1, 2]

In [177]:
random.sample([1,2,3], k = 1)

[1]

In [178]:
random.choice([1,2,3])

2

In [179]:
[random.choice(ra) for _ in range(len(ra))]

[1, 1, 2]

## 4.14 math

In [180]:
import math

## 4.15 typing

In [181]:
from typing import List, Tuple, Dict, Iterable, Union, Optional, Callable

In [182]:
import mypy

In [183]:
values: List[int] = []

In [184]:
values: Optional[float] = None

In [185]:
values: Dict[str, int] = {'a': 1, 'b': 2}

In [186]:
values: Iterable[int] = (x for x in range(10) if x % 2 == 0)

In [187]:
values: Tuple[int, float, int] = (1, 2.2, 3)

In [188]:
def add(a: int, b: int) -> int:
    return a + b

add(1, 2)

3

In [189]:
def total(xs: List[float]) -> float:
    return sum(xs)

total([1,2,3])

6

In [190]:
def twice(repeater: Callable[[str,int],str], s: str) -> str:
    return repeater(s, 2)

def comma_repeater(s: str, n: int) -> str:
    n_copies = [s for _ in range(n)]
    return ', '.join(n_copies)

twice(comma_repeater, 'type hints')

'type hints, type hints'

In [191]:
Number = int
Numbers = List[Number]

def total(xs: Numbers) -> Number:
    return sum(xs)

total([1,2,3])

6

## 4.16 csv

In [192]:
import csv

In [193]:
%%script echo skipping
with open() as o:
    csv.reader(o)

skipping

## 4.17 dataclasses

In [194]:
from dataclasses import dataclass

In [195]:
@dataclass
class StockPrice2:
    symbol: str
    date: datetime.date
    closing_price: float
    
    def is_high_tech(self) -> bool:
        return self.symbol in ['MSFT','GOOG','FB','AMZN','AAPL']

price2 = StockPrice2('MSFT', datetime.date(2018, 12, 14), 106.03)
price2.symbol, price2.is_high_tech()

('MSFT', True)

In [196]:
price2.closing_price /= 2
price2.closing_price

53.015

## 4.18 dateutil

In [197]:
from dateutil.parser import parse

## 4.19 decimal

In [198]:
import decimal 
from decimal import Decimal

In [199]:
decimal.getcontext()

Context(prec=28, rounding=ROUND_HALF_EVEN, Emin=-999999, Emax=999999, capitals=1, clamp=0, flags=[], traps=[InvalidOperation, DivisionByZero, Overflow])

## 4.20 keyword

In [200]:
import keyword

In [201]:
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

## 4.21 array

In [202]:
import array

In [203]:
array.array('f',[1.0,2.75,3.5])

array('f', [1.0, 2.75, 3.5])